services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_gin_app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SSL_MODE: ${SSL_MODE}
      JWT_SECRET: ${JWT_SECRET}
      APP_PORT: ${APP_PORT}
      GIN_MODE: ${GIN_MODE}
